body{
  background-color: skyblue;
  color: white;
}
@media screen and(max-width: 32px){
  #main-doc{
    display:block;
  }
}
main{
  font-size:20px;
  padding:10px;
  position: absolute;
  margin-left: 30%;
  line-height: 35px;
}
#navbar{
  top:0;
  boarder-right: 3px solid darkblue;
  position: fixed;
  left:0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width:100%;

}
nav > ul > li{
  boarder-top:1.1.5px solid orange;
  height:20%
  margin: 10px;
  width: 100%;
}

section{
  height:100%;
  width:100%;
  position: relative;
  top:0;
}
header{
  font:bold;
  font-size: 25px;
  margin: 7%;
  color: darkblue;

}
p{
margin-left:8%;
}
code{
  display:block;
  margin-left: 0;
  overflow:wrap;
  background-color: royalblue;
  border-radius: 6px;
  padding: 12px;

}
a{
  margin:8%;
}
li> a>{
  color: black;
}
#main-doc{
  position: absolute;
  margin: 0;

}